<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toyzproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToyzProject">
        <activity
            android:name=".NewArrivals"
            android:exported="true" />
        <activity
            android:name=".Statistics"
            android:exported="true" />
        <activity
            android:name=".RVActivity"
            android:exported="true" />
        <activity
            android:name=".ToysAddForm"
            android:exported="true" />
        <activity
            android:name=".Email"
            android:exported="true" />
        <activity
            android:name=".newsletter"
            android:exported="true" />
        <activity
            android:name=".ToysVehical"
            android:exported="true" />
        <activity
            android:name=".Categories"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>